ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #333;
}

li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

p{
    text-align: justify;
    line-height: 25px;
}

h2{
    text-align: center;
}

.div-style1{
    padding:0px;
    background-color:azure;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 150px;
    padding-bottom: 12px;
}

.div-flex{
    display: flex;
    columns: 1fr 1fr;
    gap: 50px;
    padding: 50px;
    border-top: 2px solid black;
}

.div-style2{
    padding: 0px;
    padding-top: 0px;
    padding-left: 32px;
    padding-right: 32px;
}

.image-style{
    width: 750px;
    height: auto;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    padding-top: 24px;
    max-width: 750px;
    position: relative;
    margin: auto;
    align-items: center;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.footer-class{
    background-color: black;
    max-width: auto;
    max-height: 250px;
    display: flex;
    columns: 1fr 1fr;
    gap: 150px;
    color: white;
}

.footer-img{
    width: 250px;
    height: 250px;
}

.h3-footer{
    padding-top: 24px;
}


